

h1,h2,h3 {		
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	color: black;
	
}

h2,h3 {
	
	text-align: left;
	}


.img-container{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	}

#link:link {
   color: black;
   
   text-decoration: none;
	}	

#link:hover {
  	background-color: white;
  	color: #26cfdd;
	}

#link:active {
	background-color: black;
  	color: black;
	}

#link:visited {
	background-color: #ccc;
	}



#div2 {
	float: right;
	}