

h1,h2,h3 {		
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	color: black;
	
}

h2,h3 {
	
	text-align: left;
	}


#favClass {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#favClass td, #favClass th {
  border: 1px solid #ddd;
  padding: 8px;
}

#favClass tr:nth-child(even){background-color: #f2f2f2;}

#favClass tr:hover {background-color: #ddd;}

#favClass th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#26cfdd;
  color: white;
}


.img-container{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	}

#link:link {
   color: black;
   
   text-decoration: none;
	}	

#link:hover {
  	background-color: white;
  	color: #26cfdd;
	}

#link:active {
	background-color: black;
  	color: black;
	}

#link:visited {
	background-color: #ccc;
	}



